<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="UMSDB"
      connectionString="metadata=res://*/UserManagement.UMS.csdl|res://*/UserManagement.UMS.ssdl|res://*/UserManagement.UMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NELUM;initial catalog=KIBS_UMS;Integrated Security=False;User Id=ntuda;Password=ntuda;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="BILLINGDB"
      connectionString="metadata=res://*/Billing.BILLING.csdl|res://*/Billing.BILLING.ssdl|res://*/Billing.BILLING.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NELUM;Initial Catalog=KIBS_BILLING;Integrated Security=False;User Id=ntuda;Password=ntuda;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>